.sociais {
    height: 200px;
    overflow: hidden;
    position: relative; 
    top: -260px;
    right: -46%;
    width: 800px;
}
.titulo {
    background-color: #318CE7;
    top: 10px; 
    left: 62%; 
    transform: translateX(-50%); 
}

.titulo, .instagram, .linkedin {
    width: 277px;
    height: 47px;
    border-radius: 11px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute; 
}
.titulo p, .instagram p, .linkedin p{
    font-weight: 700;
    font-size: 27px;

}



.titulo p {
    color: white;
    text-align: center;
    
}

.instagram {
    background-color: #ffffff;
    top: 67px; 
    left: 640px; 
    transform: translateX(-50%); 
}

.instagram p {
    color: #318CE7;
    text-align: center;
    
}

.linkedin {
    background-color: #ffffff;
    top: 67px; 
    left: 360px; 
    transform: translateX(-50%); 
}

.linkedin p {
    color: #318CE7;
    text-align: center;

}
