.sociais {
    height: 200px;
    overflow: hidden;
    position: relative; 
    top: -420px;
    right: -60%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.titulo, .instagram, .linkedin {    
    width: 237px;
    height: 47px;
    border-radius: 11px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.titulo {
    background-color: #318CE7;
}

.titulo p {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}

.instagram {
    background-color: #ffffff;
}

.instagram p {
    color: #318CE7;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}

.linkedin {
    background-color: #ffffff;
}

.linkedin p {
    color: #318CE7;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
}
@media (max-width: 900px){
    .sociais{
        top: -270px;
        right: -30%;
    }
}