.fundo {
    overflow: hidden;
    position: relative;
}

.fundoQuadrado {
    width: 100%;
    height: 590px;
    background-color: #13293D;
}

h2{
    font-size: 50px;
    top: 60px;
    left: 240px;
    color: white;
    position: absolute;
    
}
.apresentaçao{
    color: white;
    position: absolute;
    top: 160px;
    left: 120px;
    width: 490px;
    font-size: 33px;
    text-align: justify;
}

.linha1, .linha2, .linha3 {
    background-color: #1B98E0;
    border-radius: 4px;
    height: 6px;
    position: absolute;

}

.linha1 {
    bottom: 60px;
    width: 639px;
    
}

.linha2 {
    bottom: 17px;
    left: 140px;
    width: 540px;
    transform: translate(384px, -260px) rotate(-54.2232deg);
    
}

.linha3 {
    width:100%;
    top: 90px;
    left: 950px;
}

@media (max-width: 1600px){
    .linha1{
        left: -40px;
    }
    .linha2{
        left: 100px;
    }
    .linha3{
        left: 909px;
    }
}
@media (max-width: 1500px){
    .linhas{
        left: -50px;
        position: relative;
    }
    .linha3{
        left: 859px;
    }
}

@media (max-width: 1500px){
    .apresentaçao{
        left: 60px;
        text-align:justify;
    }
    h2{
        left: 180px; 
    }
}

@media (max-width: 1300px){
    .linhas{
        left: -203px;
    }
    .linha3{
        left: 590px;
    }
    .linha2{
        transform: translate(380px, -234px) rotate(-63deg);
        width:434px;
    }

    .fundoQuadrado {
        height: 540px;
    }
}

@media (max-width: 1300px){
    .apresentaçao{
        left: 60px;
        font-size: 27px;
        width: 380px;
        top: 120px;
        text-align:justify;
    }
    h2{
        left: 170px;
        font-size: 34px; 
    }
}

@media (max-width: 900px){
    .linhas{
        left: -50px;

    }
    .linha3{
        left: 814px;
        top: 30.300px;
    }
    .linha2{
        transform: translate(384px, -260px) rotate(-60deg);
        width:508px ;
    }
    .linha1{
        width: 653px;
    }
    .fundoQuadrado {
        height: 530px;

    }
}

@media (max-width: 900px){
    .apresentaçao{
        left: 160px;
        font-size: 31px;
        width: 400px;
        top: 106px;
        text-align:justify;
    }
    h2{
        top: 30px;
        left: 285px;
        font-size: 34px; 
    }
}

@media (max-width: 800px){
    .apresentaçao{
        left: 150px;
        font-size: 31px;
        width: 400px;
        top: 106px;
        text-align:justify;
    }
    h2{
        top: 30px;
        left: 265px;
        font-size: 34px; 
    }
}
@media (max-width: 700px){
    .apresentaçao{
        left: 130px;
        position: absolute;
        font-size: 31px;
        width: 400px;
        top: 106px;
        text-align:justify;
    }
    h2{
        top: 30px;
        left: 245px;
        position: absolute;
        font-size: 34px; 
    }
}
@media (max-width: 630px){
    .apresentaçao{
        left: 100px;
        font-size: 31px;
        width: 400px;
        top: 106px;
        text-align:justify;
    }
    h2{
        top: 30px;
        left: 215px;
        font-size: 34px; 
    }
}